/* fomts */
@font-face {font-family: 'AcuminVariable';font-style: normal;font-weight: 0;src: url('../assets/fonts/AcuminVariableConcept.otf')}
@font-face {font-family: 'FilsonPro';font-style: normal;font-weight: 900;src: url('../assets/fonts/FilsonProRegular.otf')}
/* global tags */
    *, html {box-sizing: border-box;margin: 0; padding: 0;font-family: 'AcuminVariable'; }
    h1, h2, h3, h4, h5, h6 { font-family: 'FilsonPro'; text-transform: uppercase;}
    main section > h2 {width: 80vw;padding: 0.2em 0;text-align: center;color: transparent;-webkit-text-stroke: #FF4C4C 1px;margin: 0.8em 0 0em 0;font-size: 3.1em;line-height: 43px;}
    p {color: #1A1A1A;font-size: 14px;max-width: 90vw;font-weight: 200;}
    main a, footer a { text-decoration: none;font-family: 'FilsonPro';transition: .5s ease;cursor: pointer;text-align: center;letter-spacing: 0px;text-transform: uppercase;max-width: 153px;}
    ul {list-style: none;}
    body {background: #e6e6e6;}
    main > section {display: flex;justify-content: center; flex-direction: column; align-items: center;}

/* buttons */
    .btn { line-height: 39px; background:#fff;  color:#FF4C4C;-webkit-text-stroke: white 1px;font-size: 13px;margin-top: 1em;margin-bottom: 1em;z-index: 0;text-decoration: none;width: 100%;padding: 0 2em;position: relative;}
    .btn-1 {color: #fff;-webkit-text-stroke: white 1px;background: #FF4C4C;clip-path: polygon(100% 0, 83% 100%, 0 100%, 17% 0);}
    .btn-1:hover, .btn-1:focus {letter-spacing: 1px;max-width: 200px;}
    .btn-1::after {content: "";background: url('/assets/index/forward-icon.svg');opacity: 0;position: absolute;top: 11px;right: 30px;transition: ease 0.4s all; /*! padding-right: 3px; */height: 21px;width: 14px;background-repeat: no-repeat;}
    .btn-1:hover::after {opacity: 1; color:white;padding-left: 4px; animation:anchor-animation 1.2s ease infinite;}
    .btn-2 {text-transform: uppercase;text-decoration: none;color: #1a1a1a;-webkit-text-stroke: #1a1a1a 1px;margin-top: 1em;transition: .3s ease all;}
    .btn-2:hover, .btn-2:focus  {background: none;color: #FF4C4C;-webkit-text-stroke: #FF4C4C 1px;}
    .btn-2:hover svg, .btn-2:focus svg {stroke:#FF4C4C;}
    .btn-2 svg {fill:none;stroke:#1A1A1A;stroke-width:5;stroke-miterlimit:10;width: 15px;}
    
/*nav*/
    body > header {display: flex;justify-content: space-between;z-index: 2;position: absolute;right: 0;left: 0;transition: .3s ease all;padding: 20px 5%;}
    body > header button {background: transparent;border: none;max-height: 37px;font-size: 30px;}
    body > header > button svg {width: 26px;height: 26px; stroke: #e6e6e6;stroke-width:5; stroke-miterlimit:10;transition: .3s ease;}
    body > header svg:hover, body > header svg:focus {stroke: #fff; transform: rotate(-90deg);}
    body > header nav button svg {width: 26px;height: 26px; fill:#fff;stroke:#fff;stroke-width:5;stroke-miterlimit:10;transition: .3s ease;}
    body > header button:hover {  text-decoration: none;color: #272727;}
    body > header img {width: 94px;height: 30px;}
    nav {z-index:1;background: linear-gradient(180deg, rgb(26, 26, 26)80%, rgb(255, 76, 76) 80%);position:fixed;overflow: hidden;height: 100vh;display: none;padding: 20px 5%;}
    header nav > button {position: absolute;left: 6%;top: 2%;color: #FF4C4C;}
    nav img {cursor: pointer;position: absolute;right: 5%;top: 3.1%;}
    nav li {padding: 0.9em 4em;font-weight: 600;width: 100%;}  
    nav ul { width: 100%; display: flex;flex-direction: column;justify-content: center;}
    nav li a {text-decoration: none;color: white;font-size: 1.4em;text-transform: uppercase;padding: 10px;-webkit-text-stroke: white 1px;width: 100%;display: block;}
    nav li a:hover {background: #FF4C4C;color: #1a1a1a;-webkit-text-stroke: #1a1a1a 1px;}
/* footer */
    footer {margin-top: 8vh;background: linear-gradient(180deg, rgb(230, 230, 230) 5.9%, rgb(26, 26, 26) 3%);    position: relative;display: flex;flex-direction: column;align-items: center;}
    footer::before { content: "";background-image: url('../assets/index/Corner-posts-v1.svg');width: 56px;height: 64px;bottom: 0;right: 0;position: absolute;background-repeat: no-repeat;transform: scaleY(-1);}
    footer::after {content: "";background-image: url('../assets/index/Corner-posts-v1.svg');width: 56px;height: 64px;bottom: 0;left: 0;position: absolute;background-repeat: no-repeat;transform: scaleX(-1) scaleY(-1);}
    footer > img {width: 97vw;max-width: 763px;max-height: 101px;position: absolute;}
    footer section:nth-of-type(1) { padding: 1.5em;display: flex;flex-direction: column;margin-top: 3em;}
    footer section:nth-of-type(1) a {background-color: white;color: #FF4C4C;-webkit-text-stroke: #FF4C4C 1px;}
    footer section h2 {color: white;padding: 0.4em 0;color: white;-webkit-text-stroke: white 2px;margin: 0.2em 0;text-transform: capitalize;}
    footer section a {color: #1A1A1A;-webkit-text-stroke: #1A1A1A 1px;}
    footer section:nth-of-type(2) {background: #FF4C4C;padding: 3em 1em 7em 1.5em;width: 100vw;}
    footer h3 {margin-bottom: 0.8em;color: #fff;text-transform: uppercase;-webkit-text-stroke: #fff 1px;font-size: 1.2em;}
    footer ul {margin-bottom: 1.8em;}
    footer li {padding: 2px 0;}
    small {position: absolute;bottom: 0;font-size: 9px;text-transform: capitalize;color: white;padding: 0.7em;-webkit-text-stroke: white 1px;}
/* image list styling */
    main section ul {list-style: none;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;margin: 0 0 1em 0; position: relative;   }
    main section figure {width: 90vw;height: 157px;margin: 1.7em 0;position: relative;overflow: hidden;box-shadow: 0px 0px 9px 3px #0000001f;clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);z-index: 1;max-width: 638px;}
    main section li:nth-of-type(2) figure, main section li:nth-of-type(4) figure,main section li:nth-of-type(6) figure, main section li:nth-of-type(8) figure {clip-path: polygon(100% 0, 96% 100%, 0% 100%, 4% 0);}
    main section a:hover figure img {transform: scale(2);}
    main section a:hover figcaption {letter-spacing: 2px;background: #0000006b;}
    main section li:last-of-type figure {margin-bottom: 0;}
    main section figure::before {content: "";/*! background-image: url('../assets/index/Corner-posts-v1.svg'); */width: 50px;height: 56px; top: 0;left: 0;position: absolute;background-repeat: no-repeat;transform: scaleX(-1);z-index: 1;}
    main section figure::after {content: "";/*! background-image: url('../assets/index/Corner-posts-v1.svg'); */width: 50px;height: 56px;top: 0;right: 0;position: absolute;background-repeat: no-repeat;}
    main section figure img {width: 104%;height: 195px;transition: ease 0.3s all;object-fit: cover;}
    main section figure figcaption {position: absolute;bottom: 0;right: 0;left: 0;color: white;text-transform: capitalize;padding: 1.6em;-webkit-text-stroke: white 1px;transition: ease 0.4s all;top: 0;display: flex;align-items: flex-end;text-transform: uppercase;font-size: 1em;background: linear-gradient(180deg, rgba(230, 230, 230, 0) 0%, rgba(26, 26, 26, 0.68) 70%);}
/* index ( home )*/
/* home header */
    #index-header {width: 100vw;height: 122vh;display: flex;align-items: center;clip-path: polygon(0 0, 63.5% 0%, 63.5% 8%, 100% 8%, 100% 100%, 0px 100%, 0% 20%);padding: 2vw;padding-bottom: 0;flex-direction: column;}
    #index-header section { background: radial-gradient(circle, rgba(255,76,76,1) 47%, rgba(230,230,230,1) 47%);  background-size: 400%;background-position: center;height: 100%; width: 100%;display: flex;flex-direction: column;justify-content: center;padding: 8vw;position: relative;animation: index-background 0.8s ease;}
    #index-header section::before {content: "";background: url('../assets/index/down-icon.svg');position: absolute;width: 17px;height: 17px;background-repeat: no-repeat;bottom: 1vh;margin: auto;z-index: 2;width: 84%;background-position: center;animation: icon-animation 1.3s ease-in infinite}
    #index-header section::after {content: "";background-image: url('../assets/index/triangle.svg');position:absolute; bottom: -1px; width: 84%; height: 10vh; background-repeat: no-repeat; display: flex; margin: auto; z-index: 1;background-position: center;}
    #index-header h1 { color: transparent; font-size: 4em;max-width: 249px;-webkit-text-stroke: #e6e6e6 1.5px;text-transform: capitalize;animation: h1-animation .7s ease;}
    #index-header section > p { font-family: 'FilsonPro'; color: #1A1A1A; -webkit-text-stroke: #1A1A1A .4px;margin-bottom: 4vh;}
    #index-header a {background-color: white;color: #FF4C4C;-webkit-text-stroke: #FF4C4C 1px;}
    #index-header > p {margin: 5vh 3vw;width: 80vw;text-align: center;max-width: 448px;}
/* index guides section */
    #index-header ~ section:nth-of-type(1) {background: #FF4C4C;padding-bottom: 3em;margin: 2vw;}
    #index-header ~ section:nth-of-type(1) h2 {-webkit-text-stroke: #fff 1px;}
    #index-header ~ section:nth-of-type(1) section {display:flex;position:relative;flex-direction: column;margin: -0.02em 0;transition: .3s ease all;width: 90vw;text-align: right;align-items: end;padding: 3.5em 2em;max-width: 467px;}
    #index-header ~ section:nth-of-type(1) section::before {content: "";background-image: url('../assets/index/Corner-picture-v2.svg');width: 40px;height: 41px; background-repeat: no-repeat;transform: rotate(-270deg);position: absolute;bottom: 0;left: 0;}
    #index-header ~ section:nth-of-type(1) section::after {content: "";background-image: url('../assets/index/Corner-picture-v2.svg');width: 40px;height: 56px;top: 0;right: 0;position: absolute; background-repeat: no-repeat;}
    #index-header ~ section:nth-of-type(1) h3 {order: 2;color: #e6e6e6;-webkit-text-stroke: #e6e6e6 1.5px;margin: 0 0 0.4em 0;}
    #index-header ~ section:nth-of-type(1) h4 {order: 1;-webkit-text-stroke: #1A1A1A 1px;font-size: 0.8em;transition: .3s ease all;color: #1A1A1A;text-transform: none;}
    #index-header ~ section:nth-of-type(1) hr {order: 3;background-color: #FF4C4C;border: none;height: 2px;width: 38vw;margin: 0 0 0.5em 0;}
    #index-header ~ section:nth-of-type(1) p {order: 4;transition: .3s ease all;-webkit-text-stroke: #e6e6e6 0.1vw;color: #e6e6e6;text-transform: none;}
    #index-header ~ section:nth-of-type(2) a:hover section, #index-header ~ section:nth-of-type(2) a:focus section {transition: 0.2s ease all;}
    #index-header ~ section:nth-of-type(1) a:hover h4, #index-header ~ section:nth-of-type(2) a:focus h4 {transition: .3s ease all;letter-spacing: 2px;}
    #index-header ~ section:nth-of-type(1) li:nth-of-type(2) section {align-items: baseline;border-top: solid 0;border-bottom: solid 0;padding: 3.5em 2em;}
    #index-header ~ section:nth-of-type(1) li:nth-of-type(2) section::before {transform: rotate(-180deg);right: 0;left: unset;}
    #index-header ~ section:nth-of-type(1) li:nth-of-type(2) section::after { left: 0;transform: rotateY(-180deg);}
    #index-header ~ section:nth-of-type(1) li:nth-of-type(2) hr {order: 3;background-color: #FF4C4C;border: none;height: 2px;width: 38vw;margin: 0 0 0.5em 0;}
    #index-header ~ section:nth-of-type(1) li:nth-of-type(2) p {text-align: left;}
    #index-header ~ section section > svg {fill: none;stroke: #1A1A1A;stroke-width: 5;stroke-miterlimit: 10;width: 15px;}
    #index-header ~ section:nth-of-type(1) > a:hover, #index-header ~ section:nth-of-type(1) > a:focus { color: white;-webkit-text-stroke: #fff 1px;} 
    #index-header ~ section:nth-of-type(1) > a:hover svg, #index-header ~ section:nth-of-type(1) > a:focus svg{ stroke: white;}
    #index-header ~ section:nth-of-type(1) li:nth-of-type(3) section::before {display: none;}
    #index-header ~ section:nth-of-type(1) li:nth-of-type(1) section::after {display: none;}
/* Asian spots section*/
    #index-header ~ section:nth-of-type(2) {position: relative;}
    #index-header ~ section:nth-of-type(2)::after {content: ""; background: url('/assets/index/circle.svg');width: 100vw;height: 100vw;position: absolute;background-repeat: no-repeat;z-index: 0;max-width: 497px;max-height: 500px;animation: circle-animation 30s ease-in-out infinite;}
    .pages-header ~ section:last-of-type ul::after {animation: circle-animation2 60s ease-in-out infinite;}
    #catagory ul::after {animation: circle-animation3 30s ease-in-out infinite;}
/* global pages styling */
    .pages-header {position:relative;height:50vh;background:#FF4C4C;padding: 9vw 9vw; display: flex; justify-content: flex-end; clip-path: polygon(63.5% 0%, 63.5% 20%, 100% 20%, 100% 100%, 92% 100%, 85% 82%, 78% 100%, 0px 100%, 0px 0px);margin-bottom: 2em;flex-direction: column;align-items: first baseline;animation: pages-background-animation 1s ease;overflow: hidden;}
    .pages-header::after {z-index:0; bottom:0; top: 0;  content:'';position:absolute; width: 100%; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(26, 26, 26, 0.63) 70%);left: 0;}
    .pages-header img {position: absolute;left: 0;bottom: 0;width: 100vw;height: 100vh;object-fit: cover;}
    .pages-header h1 { z-index:1; color: transparent; -webkit-text-stroke: white .4vw; font-size: 2em;}
    .pages-header ~ section:nth-of-type(1) {margin-top: 1vh;}
    .pages-header h1:nth-of-type(1) {animation: pages-h1-animation-1 .7s ease;}
    .pages-header h1:nth-of-type(2) {animation: pages-h1-animation-2 .7s ease;}
    .pages-header h1:nth-of-type(3) {animation: pages-h1-animation-1 .7s ease;}
    .pages-header ~ a:nth-of-type(1) { padding: 10vw;color: #1a1a1a;-webkit-text-stroke: #1a1a1a 1px;}
    .pages-header ~ a:nth-of-type(1):hover { color: #FF4C4C; -webkit-text-stroke: #FF4C4C 1px;}
    .pages-header-text-1 { text-align: center;}
    .pages-header-text-1 h2 { margin-bottom: 0.2em;}
    .pages-header-text-1 p {margin-bottom: 0.9em;}
    .circle-animation::after {content: "";background: url('/assets/index/circle.svg');background-repeat: repeat;width: 100vw;height: 100vw;position: absolute;background-repeat: no-repeat;z-index: 0;max-width: 497px; max-height: 500px;animation: circle-animation 30s ease-in-out infinite;}
    /*.pages-header ~ a {text-decoration: none;margin-left: 10vw;-webkit-text-stroke: #1A1A1A 1px;color: #1A1A1A;text-transform: uppercase;font-size: 11px;}*/
/* Asian spots */
    #catagory figure {height: 194px;}
    #catagory h2 {font-size: 2.6em;}
/* Contact */
    form {display: flex;flex-direction: column;width: 80vw;}
    form label {display: flex;flex-direction: column;text-transform: uppercase;-webkit-text-stroke: #1A1A1A 1px;color: #1A1A1A;padding: 1.5em 0;text-align: right;}
    form input, textarea {  border-radius: 0; -webkit-appearance: none;-moz-appearance: none;appearance: none;}
    form label input {background: transparent;border: none;border: solid 2px #FF4C4C;-webkit-text-stroke: transparent;transition: .1s ease;height: 44px;padding: 0 0 0 1em;margin-top: 10px;box-shadow: -5px 5px 0px 0px #FF4C4C;text-transform: uppercase;font-size: 17px;}
    form label input:focus-visible, textarea {border-width: 3px;color: #FF4C4C;outline: none;}
    form span > input {border: none;margin-top: 2em; }
    form span > input ~ svg {fill:none;stroke:#1A1A1A;stroke-width:5;stroke-miterlimit:10;width: 15px;}
    form textarea {border: none;border: solid 2px #FF4C4C;padding: 0.2em;-webkit-text-stroke: transparent;margin-top: 1.5em;background: none;max-width: 80vw;max-height: 30vh;min-width: 80vw;box-shadow: -5px 5px 0px 0px #FF4C4C;}
/* contact confirm */
    #confirm {width: 80vw;margin-top: 20vh;text-align: center;}
    #confirm span { color: #FF4C4C;}
/* Asian spots specific pages */
    article {width: 90vw;margin: auto;padding: 0 5vw 0vw 5vw;display: flex;flex-direction: column;} 
    article h2 {margin: 0.5em 0em 0.7em 0;-webkit-text-stroke: #FF4C4C 2px;color: #FF4C4C;}
    article p {font-size: 12px;-webkit-text-stroke: #1A1A1A 0.5px;margin-bottom: 1em;}
    article aside {width: 80vw;height: 33vh;position: relative;overflow: hidden;margin: 1em 0 1em 0;}
    article ~ section img, article img {position: absolute;width: 500px;transform: translateY(-34%);height: 349px;object-fit: cover;}   
    main article, main article ~ section {padding: 5vw;width: 90vw;margin: auto;align-items: baseline;}
    main article ~ section p:nth-of-type(1) { text-align: left;padding: 0;margin-bottom: 1em;}
    main article h2, main article ~ section h2 {-webkit-text-stroke: #FF4C4C 2px;color: #FF4C4C;text-align: revert;margin-top: 0;margin-bottom: 1em;font-size: 1.5em;padding: 0;}
    main article h3, main section h3 {-webkit-text-stroke: #1A1A1A 1px;color: #1A1A1A;margin: 1em 0 0.3em 0;font-size: 1.4em;letter-spacing: 1px;}
    main article ~ section ul {flex-direction: column;list-style: disclosure-closed;padding-left: 2em;}
    main article ~ section ul li {text-transform: capitalize;padding: 0.2em;-webkit-text-stroke: #1A1A1A 1px;color: #1A1A1A;}
/* Keyframes */
    @keyframes anchor-animation {0% {color: white; }50% {color:#1A1A1A; -webkit-text-stroke: 2px #1A1A1A;}100% {color: white;}}
    @keyframes h1-animation {0% {margin-left: -2em;color: white; }50% {margin-bottom: 2em;}}
    @keyframes index-background {0% {background-position: left;}}
    @keyframes icon-animation {0% {bottom: 1vh;} 50% {bottom: 15px;}}
    @keyframes circle-animation {0% {transform: translateY(-20%);} 50%{transform: translateY(45%);} 100%{transform: translateY(-20%);}}
    @keyframes circle-animation2 {0% {top: 0;} 50%{top: 62%;} 100%{top: 0;}}
    @keyframes circle-animation3 {0% {top: 0;} 50%{top: 30%;} 100%{top: 0;}}
    @keyframes pages-h1-animation-1 { 0% {margin-left: -100%;}}
    @keyframes pages-h1-animation-2 { 0% {margin-left: 150%;}}
    @keyframes pages-background-animation {0% {clip-path: polygon(63.5% 0%, 63.5% 23%, 100% 23%, 100% 100%, 92% 100%, 85% 82%, 66.53% 101.20%, 0px 100%, 0px 0px);}}
